<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>поиск вакансий</title>
    <link rel="stylesheet" href="/css/catalog.css">
</head>
<body>
<div layout:fragment="content" class="">
    <div class="head2">
        <div class="search">
            <img src="./img/logo.png" alt="">
            <div class="search_poisk">
                <a href="catalog.html"><button class="btn_catalog">Каталог</button></a>
                <input type="text" placeholder="Поиск">
            </div>
            <button class="search_btn">
                <img src="./img/search.png" alt="">
            </button>

        </div>
        <div class="deliver_login">
            <a href="">
                <button>Доставка</button>
            </a>
            <div class="d1">
                <a href="./login.html">
                    <img src="./img/login.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <!-- header end -->


    <div class="conteiner">
        <div class="title">
            <h2>Каталог</h2>
        </div>
        <div class="content">
            <div class="list">
                <li data-color=".All">Сезонные продукты</li>
                <li data-color=".featured">Фрукты</li>
                <li data-color=".Special">Овощи</li>
                <li data-color=".Arrivals">Молочные</li>
                <li data-color=".Smich">Замороженные</li>
                <li data-color=".Duhov">К чаю</li>
            </div>

            <div class="box_flex">
                <div class="box Duhov">
                    <div class="box_img">
                        <img src="./catalog_img/candyes.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Конфеты</a></h3>
                            <input type="checkbox" id="product1" class="product-checkbox" />
                            <label for="product1" class="checkmark"></label>
                        </div>

                        <hr>
                        <section>100&#8381</section>
                        <article>Категория: К чаю</article>
                    </div>
                </div>
                <div class="box Duhov">
                    <div class="box_img">
                        <img src="./catalog_img/vaffles.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Вафли</a></h3>
                            <input type="checkbox" id="product2" class="product-checkbox" />
                            <label for="product2" class="checkmark"></label>
                        </div>

                        <hr>
                        <section>200&#8381</section>
                        <article>Категория: К чаю</article>
                    </div>
                </div>
                <div class="box Duhov">
                    <div class="box_img">
                        <img src="./catalog_img/pechenki.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Печенье</a></h3>
                            <input type="checkbox" id="product3" class="product-checkbox" />
                            <label for="product3" class="checkmark"></label>
                        </div>

                        <hr>
                        <section>от 21 650&#8381</section>
                        <article>Категория: К чаю</article>
                    </div>
                </div>
                <div class="box Duhov All">
                    <div class="box_img">
                        <img src="./catalog_img/pir.jpg">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Пирожное</a></h3>
                            <input type="checkbox" id="product4" class="product-checkbox" />
                            <label for="product4" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 3 200&#8381</section>
                        <article>Категория: К чаю</article>
                    </div>
                </div>
                <div class="box Duhov All">
                    <div class="box_img">
                        <img src="./catalog_img/cake.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Торт</a></h3>
                            <input type="checkbox" id="product5" class="product-checkbox" />
                            <label for="product5" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 30 758&#8381</section>
                        <article>Категория: К чаю</article>
                    </div>
                </div>
                <div class="box Duhov All">
                    <div class="box_img">
                        <img src="./catalog_img/zefir.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Зефир</a></h3>
                            <input type="checkbox" id="product6" class="product-checkbox" />
                            <label for="product6" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 13 514&#8381</section>
                        <article>Категория: К чаю</article>
                    </div>
                </div>

                <div class="box Smich All">
                    <div class="box_img">
                        <img src="./catalog_img/pelmen.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Пельмени</a></h3>
                            <input type="checkbox" id="product7" class="product-checkbox" />
                            <label for="product7" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 9 226&#8381</section>
                        <article>Категория: Замороженные</article>
                    </div>
                </div>
                <div class="box Smich">
                    <div class="box_img">
                        <img src="./catalog_img/oladyi.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Оладьи</a></h3>
                            <input type="checkbox" id="product8" class="product-checkbox" />
                            <label for="product8" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 14 290&#8381</section>
                        <article>Категория: Замороженные</article>
                    </div>
                </div>
                <div class="box Smich All">
                    <div class="box_img">
                        <img src="./catalog_img/varen.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Вареники</a></h3>
                            <input type="checkbox" id="product9" class="product-checkbox" />
                            <label for="product9" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 25 490&#8381</section>
                        <article>Категория: Замороженные</article>
                    </div>
                </div>
                <div class="box Smich">
                    <div class="box_img">
                        <img src="./catalog_img/veget.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Овощной микс</a></h3>
                            <input type="checkbox" id="product10" class="product-checkbox" />
                            <label for="product10" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 273 060&#8381</section>
                        <article>Категория: Замороженные</article>
                    </div>
                </div>
                <div class="box Smich All">
                    <div class="box_img">
                        <img src="./catalog_img/pizza.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Пицца</a></h3>
                            <input type="checkbox" id="product11" class="product-checkbox" />
                            <label for="product11" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 1 000&#8381</section>
                        <article>Категория: Замороженные</article>
                    </div>
                </div>
                <div class="box Smich">
                    <div class="box_img">
                        <img src="./catalog_img/blin.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Блины</a></h3>
                            <input type="checkbox" id="product12" class="product-checkbox" />
                            <label for="product12" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 999&#8381</section>
                        <article>Категория: Замороженные</article>
                    </div>
                </div>


                <div class="box All featured">
                    <div class="box_img">
                        <img src="./catalog_img/apple.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Яблоки</a></h3>
                            <input type="checkbox" id="product34" class="product-checkbox" />
                            <label for="product34" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 7 990&#8381</section>
                        <article>Категория: Фрукты</article>
                    </div>
                </div>

                <div class="box All featured">
                    <div class="box_img">
                        <img src="./catalog_img/banana.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Бананы</a></h3>
                            <input type="checkbox" id="product14" class="product-checkbox" />
                            <label for="product14" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 8 900&#8381</section>
                        <article>Категория: Фрукты</article>
                    </div>
                </div>

                <div class="box featured All">
                    <div class="box_img">
                        <img src="./catalog_img/kivi.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Киви</a> </h3>
                            <input type="checkbox" id="product15" class="product-checkbox" />
                            <label for="product15" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 15 750&#8381</section>
                        <article>Категория: Фрукты</article>
                    </div>
                </div>

                <div class="box  featured">
                    <div class="box_img">
                        <img src="./catalog_img/ananas.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Ананасы</a></h3>
                            <input type="checkbox" id="product16" class="product-checkbox" />
                            <label for="product16" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 8 148&#8381</section>
                        <article>Категория: Фрукты</article>
                    </div>
                </div>

                <div class="box  featured">
                    <div class="box_img">
                        <img src="./catalog_img/orange.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Апельсины</a></h3>
                            <input type="checkbox" id="product17" class="product-checkbox" />
                            <label for="product17" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 6 480&#8381</section>
                        <article>Категория: Фрукты</article>
                    </div>
                </div>

                <div class="box  featured">
                    <div class="box_img">
                        <img src="./catalog_img/dinya.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Дыня</a></h3>
                            <input type="checkbox" id="product18" class="product-checkbox" />
                            <label for="product18" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 63 000&#8381</section>
                        <article>Категория: Фрукты</article>
                    </div>
                </div>
                <div class="box  Special">
                    <div class="box_img">
                        <img src="./catalog_img/svekkla.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Свекла</a></h3>
                            <input type="checkbox" id="product19" class="product-checkbox" />
                            <label for="product19" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 25 922&#8381</section>
                        <article>Категория: Овощи</article>
                    </div>
                </div>
                <div class="box  Special">
                    <div class="box_img">
                        <img src="./catalog_img/luk.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Лук</a></h3>
                            <input type="checkbox" id="product20" class="product-checkbox" />
                            <label for="product20" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 17 500&#8381</section>
                        <article>Категория: Овощи</article>
                    </div>
                </div>
                <div class="box  Special">
                    <div class="box_img">
                        <img src="./catalog_img/garlic.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Чеснок</a></h3>
                            <input type="checkbox" id="product21" class="product-checkbox" />
                            <label for="product21" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 575 980&#8381</section>
                        <article>Категория: Овощи</article>
                    </div>
                </div>
                <div class="box  Special">
                    <div class="box_img">
                        <img src="./catalog_img/baklazh.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Бапклажаны</a></h3>
                            <input type="checkbox" id="product22" class="product-checkbox" />
                            <label for="product22" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 344 530&#8381</section>
                        <article>Категория: Овощи</article>
                    </div>
                </div>

                <div class="box  Special">
                    <div class="box_img">
                        <img src="./catalog_img/cabach.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Кабачки</a></h3>
                            <input type="checkbox" id="product23" class="product-checkbox" />
                            <label for="product23" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 5 600&#8381</section>
                        <article>Категория: Овощи</article>
                    </div>
                </div>

                <div class="box  Special">
                    <div class="box_img">
                        <img src="./catalog_img/kapusta.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Капуста</a></h3>
                            <input type="checkbox" id="product24" class="product-checkbox" />
                            <label for="product24" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 12 900&#8381</section>
                        <article>Категория: Овощи</article>
                    </div>
                </div>
                <div class="box Arrivals All">
                    <div class="box_img">
                        <img src="./catalog_img/milk.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Молоко</a></h3>
                            <input type="checkbox" id="product25" class="product-checkbox" />
                            <label for="product25" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 41 453&#8381</section>
                        <article>Категория: Молочные</article>
                    </div>
                </div>

                <div class="box Arrivals All">
                    <div class="box_img">
                        <img src="./catalog_img/yogurt.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Йогурт</a></h3>
                            <input type="checkbox" id="product26" class="product-checkbox" />
                            <label for="product26" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 40 620&#8381</section>
                        <article>Категория: Молочные</article>
                    </div>
                </div>

                <div class="box Arrivals">
                    <div class="box_img">
                        <img src="./catalog_img/tvorog.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Творог</a></h3>
                            <input type="checkbox" id="product27" class="product-checkbox" />
                            <label for="product27" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 7 990&#8381</section>
                        <article>Категория: Молочные</article>
                    </div>
                </div>
                <div class="box Arrivals">
                    <div class="box_img">
                        <img src="./catalog_img/cheese.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Сыр</a></h3>
                            <input type="checkbox" id="product28" class="product-checkbox" />
                            <label for="product28" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 2 100&#8381</section>
                        <article>Категория: Молочные</article>
                    </div>
                </div>
                <div class="box Arrivals">
                    <div class="box_img">
                        <img src="./catalog_img/sgush.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Сгущенка</a></h3>
                            <input type="checkbox" id="product29" class="product-checkbox" />
                            <label for="product29" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 1 000&#8381</section>
                        <article>Категория: Молочные</article>
                    </div>
                </div>
                <div class="box Arrivals All">
                    <div class="box_img">
                        <img src="./catalog_img/kefir.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="check">
                            <h3><a href="#">Кефир</a></h3>
                            <input type="checkbox" id="product30" class="product-checkbox" />
                            <label for="product30" class="checkmark"></label>
                        </div>
                        <hr>
                        <section>от 10 990&#8381</section>
                        <article>Категория: Молочные</article>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog_btn">
            <a href="" class="btn_catalog">
                <button id="add-to-cart" class="hidden">В корзину</button>
            </a>
        </div>
    </div>
</div>

</body>
<script src="/static/js/catalog.js"></script>
<script>
    const toggleBtn = document.querySelector(".toggle_btn");
    const toggleBtnIcon = document.querySelector(".toggle_btn i");
    const dropDownMenu = document.querySelector(".dropdown_menu");
    const socstio = document.querySelector(".socseti");
    const center = document.querySelector(".header");

    toggleBtn.onclick = function () {
      dropDownMenu.classList.toggle("open");
      const isOpen = dropDownMenu.classList.contains("open");
      socstio.classList.toggle("dispnone");
      center.classList.toggle("oluh");

      toggleBtnIcon.classList = isOpen
        ? "fa-solid fa-xmark"
        : "fa-solid fa-bars";
    };
</script>
</html>