<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добвление резюме</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="./css/application.css" />
</head>
<body>
<div layout:fragment="content" class="">
    <form id="applicationForm" action="/applications/add" method="post">
        <h2>Добавьте своё резюме</h2>
        <label for="userEmail">Email:</label>
        <input type="email" id="userEmail" name="userEmail" required>

        <label for="vacancyName">Название вакансии:</label>
        <input type="text" id="vacancyName" name="vacancyName" required>

        <label for="status">Статус заявки:</label>
        <select id="status" name="status">
            <option value="Новая">Новая</option>
            <option value="В процессе">В процессе</option>
            <option value="Одобрена">Одобрена</option>
            <option value="Отклонена">Отклонена</option>
        </select>

        <button type="submit">Сохранить</button>
    </form>
</div>
<script>
    document.getElementById('applicationForm').addEventListener('submit', async function(e) {
    e.preventDefault();

    const formData = new FormData(this);
    const response = await fetch('/applications/add', {
        method: 'POST',
        body: formData
    });

    if (response.ok) {
        const category = await response.json();
        window.location.href = '/profile'; // Перенаправление
    } else {
        const errorData = await response.json();
        showError(errorData);
    }
});

function showError(errors) {
    const messageElement = document.getElementById('message');
    messageElement.textContent = errors.errors.join(', ');
}

</script>
</body>
</html>