<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Моя страница</title>
  <link rel="stylesheet" href="./css/profile.css" />
</head>
<body>
<div layout:fragment="content" class="">
  <main>
    <div class="main__profile">
      <button>Редактировать профиль</button>
      <div class="profile__account">
        <img src="./img/account.png" alt="" class="account__img" />
        <div class="account__information">
          <h4 th:text="${userName}">Иванов Иван</h4>
          <p>
            +7(900)***-**-** <br />
            <span th:text="${userEmail}">ivan15@mail.ru</span>
          </p>
          <p class="description">
            The template’s scalable assets architecture makes it easy to
            customize. Other features include 300+ color schemes, 200+
            customized components, and individual documentation.
          </p>
        </div>
      </div>
      <div class="profile__buttons">
        <a href="add_application" class="add-button">Редактировать</a>
        <a href="add_application" class="add-button">Добавить</a>
      </div>
      <h3>Мои заявки</h3>
      <div class="profile__applications" th:if="${not #lists.isEmpty(applications)}">
        <div class="application-card" th:each="app : ${applications}">
          <div class="application-header">
            <h4 th:text="${app.vacancyTitle}">Название вакансии</h4>
            <span class="status-badge">
    Статус
</span>

          </div>
          <div class="application-details">
            <p>Дата: <span>04.04.2025</span></p>
            <a th:href="@{'/application/' + ${app.id}}" class="view-button">Просмотр</a>
          </div>
        </div>
      </div>

      <div th:if="${#lists.isEmpty(applications)}" class="no-applications">
        <p>У вас пока нет заявок</p>
        <a href="/add_application" class="add-button">Создать первую заявку</a>
      </div>
      <h3>Мои вакансии</h3>

    </div>
  </main>
</div>
</body>
</html>
