<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      lang="ru">
<head>
    <meta charset="UTF-8">
  <title>Ошибка сброса пароля</title>
</head>
<body>
<div layout:fragment="content" class="container mt-5">
  <div class="alert alert-danger text-center" th:text="${error}"></div>
  <div class="text-center">
    <a href="/forgot-password" class="btn btn-primary">Попробовать снова</a>
  </div>
</div>
</body>
</html>