<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      lang="ru">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content" class="container mt-5">
<p>Здравствуйте, <span th:text="${username}"></span>!</p>
<p>Статус вашей заявки на вакансию "<span th:text="${vacancyTitle}"></span>" был изменен на:
    <strong th:text="${status}"></strong></p>

<p>С уважением,<br/>
    Команда Recruitium</p>
</div>
</body>
</html>