
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="footer">
<link rel="stylesheet" href="/css/footer.css">
<head>
    <meta charset="UTF-8">
</head>
<body>


<footer>
    <div class="footer__left__side">
        <div class="footer__logotype">
            <img src="./img/logo.png" alt="" />
            <a href="index.html">RECRUITIUM</a>
        </div>
        <a href="#" class="order">ЗАКАЗАТЬ ЗВОНОК</a>
    </div>
    <div class="footer__center__side">
        <div class="footer__navigation">
            <ul>
                <li><a href="./job_openings.html">Поиск вакансий</a></li>
                <li><a href="./contact.html">Контакты</a></li>
                <li><a href="./news.html">Новости</a></li>
                <li><a href="#">Об агенстве</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__right__side">
        <p>pochta@mail.ru</p>
        <p>+7(900)123-45-67</p>
        <div class="footer__right__side__social">
            <img src="./img/telegramm.png" alt="" />
            <img src="./img/whatcapp.png" alt="" />
        </div>
    </div>
</footer>
</body>
</html>